In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("./csvs/data/train_sber_corrected.csv", encoding= "utf_8")
test = pd.read_csv("./csvs/data/test_sber_corrected.csv", encoding= "utf_8")

In [3]:
train.loc[train.life_sq > train.full_sq]

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
1084,1085,2012-02-06,44,281.0,6.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,6200000
1188,1189,2012-02-14,9,44.0,3.0,NaN,NaN,NaN,NaN,NaN,...,6,3,0,9,18,0,10,53,9,6300000
1822,1825,2012-04-09,18,38.0,NaN,NaN,NaN,NaN,NaN,NaN,...,6,1,0,8,23,0,3,55,9,5200000
1863,1866,2012-04-11,30,178.0,4.0,NaN,NaN,NaN,NaN,NaN,...,223,98,20,48,91,1,68,155,7,5900000
2009,2012,2012-04-25,5,40.0,5.0,NaN,NaN,NaN,NaN,NaN,...,6,2,0,10,14,0,2,50,5,5770000
4385,4388,2012-10-25,73,426.0,17.0,NaN,NaN,NaN,NaN,NaN,...,17,8,0,14,25,0,3,88,14,11918400
6336,6339,2013-03-06,37,191.0,5.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,5,9,0,2,17,6,5400000
6531,6534,2013-03-15,80,88.0,9.0,NaN,NaN,NaN,NaN,NaN,...,23,6,1,13,17,0,1,79,11,13801229
6993,6996,2013-04-03,73,77.0,10.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,2,3,0,0,6,1,6290256
7208,7211,2013-04-10,31,195.0,5.0,NaN,NaN,NaN,NaN,NaN,...,46,7,2,12,36,1,8,100,10,6400000
8101,8104,2013-05-23,37,38.0,8.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,2,3,0,0,6,1,3622465
9237,9240,2013-07-16,47,301.0,4.0,12.0,1.0,1973.0,2.0,6.0,...,8,1,0,5,13,0,2,30,5,5600000
9256,9259,2013-07-17,77,458.0,12.0,16.0,1.0,1996.0,3.0,10.0,...,4,0,0,5,22,0,0,18,7,13750000
9482,9485,2013-07-27,52,53.0,12.0,1.0,1.0,1983.0,2.0,8.0,...,12,1,0,15,25,1,3,72,4,3000000
9646,9649,2013-08-06,82,802.0,5.0,NaN,NaN,NaN,NaN,NaN,...,7,1,0,7,16,0,0,34,5,12031350
11332,11335,2013-10-18,1,40.0,10.0,17.0,1.0,2013.0,1.0,1.0,...,1,0,0,1,5,1,0,14,1,3357774
11711,11714,2013-10-31,56,58.0,15.0,17.0,1.0,1986.0,2.0,10.0,...,19,1,0,8,34,1,2,50,7,2000000
11784,11787,2013-11-02,46,59.0,12.0,17.0,1.0,1987.0,3.0,9.0,...,23,15,1,11,23,1,4,70,1,15000000
12569,12572,2013-11-27,56,60.0,3.0,25.0,4.0,2014.0,2.0,10.0,...,11,2,1,5,4,0,1,32,5,9897007
13546,13549,2013-12-30,79,7478.0,8.0,17.0,1.0,2014.0,3.0,1.0,...,0,0,0,1,7,1,0,12,1,7705000
13629,13632,2014-01-10,45,259.0,5.0,5.0,1.0,1970.0,2.0,5.0,...,1,0,0,1,7,0,0,8,0,4900000
13797,13800,2014-01-16,32,163.0,3.0,5.0,5.0,1963.0,1.0,6.0,...,1,0,0,1,5,1,0,13,1,3550000
14799,14802,2014-02-10,73,77.0,10.0,17.0,1.0,2014.0,3.0,1.0,...,1,0,0,2,3,0,0,6,1,7488400
16067,16070,2014-03-15,50,52.0,11.0,12.0,2.0,2014.0,2.0,1.0,...,1,0,0,0,6,0,0,0,0,3661580
16116,16119,2014-03-17,84,85.0,5.0,0.0,1.0,0.0,3.0,11.0,...,2,2,0,1,12,1,0,7,0,8762000
16284,16287,2014-03-20,33,62.0,2.0,10.0,1.0,2014.0,2.0,1.0,...,1,0,0,0,3,0,0,2,2,3759912
20672,20675,2014-07-08,44,45.0,2.0,3.0,1.0,NaN,1.0,1.0,...,10,3,0,10,9,0,0,38,4,3707340
21080,21083,2014-07-24,52,349.0,1.0,9.0,1.0,1979.0,3.0,6.0,...,1,1,0,2,10,0,1,11,2,7200000
22412,22415,2014-09-11,1,47.0,11.0,17.0,1.0,2014.0,1.0,1.0,...,278,118,24,68,120,0,73,167,9,14923206
22611,22614,2014-09-17,37,38.0,9.0,9.0,1.0,2016.0,1.0,1.0,...,13,3,0,9,29,0,7,63,13,6555970
22804,22807,2014-09-23,54,55.0,5.0,9.0,1.0,2016.0,2.0,1.0,...,13,3,0,9,29,0,7,63,13,8586239
24296,24299,2014-11-05,0,77.0,4.0,17.0,1.0,0.0,3.0,0.0,...,1,1,0,2,12,0,1,10,0,8167508
24428,24431,2014-11-07,74,78.0,13.0,25.0,4.0,2015.0,3.0,1.0,...,1,0,0,2,3,0,0,6,1,7419500
26264,26267,2014-12-11,1,60.0,17.0,17.0,1.0,2014.0,2.0,1.0,...,1,0,0,4,5,0,0,4,1,5983900
26342,26345,2014-12-12,75,435.0,3.0,22.0,1.0,1999.0,3.0,9.0,...,12,3,1,5,6,0,1,32,4,12900000
26363,26366,2014-12-12,1,64.0,22.0,22.0,1.0,NaN,2.0,1.0,...,7,1,0,7,16,0,0,34,5,14430018
29302,29305,2015-04-22,56,57.0,4.0,9.0,2.0,1973.0,3.0,5.0,...,223,98,20,48,91,1,68,155,7,11000000

In [4]:
# bad_index = train[train.life_sq > train.full_sq].index
train.loc[train.life_sq > train.full_sq]["life_sq"] = np.NaN
test.loc[test.life_sq > test.full_sq]["life_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\2595784702.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.life_sq > train.full_sq]["life_sq"] = np.NaN
C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\2595784702.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.life_sq > test.full_sq]["life_sq"] = np.NaN

In [5]:
# equal_index = [601,1896,2791]
# test.loc[equal_index, "life_sq"] = test.loc[equal_index, "full_sq"]

In [6]:
# bad_index = test[test.life_sq > test.full_sq].index
# test.loc[bad_index, "life_sq"] = np.NaN

In [7]:
# bad_index = train[train.life_sq < 5].index
train.loc[train.life_sq < 5]["life_sq"] = np.NaN
test.loc[test.life_sq < 5]["life_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\4097157686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.life_sq < 5]["life_sq"] = np.NaN
C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\4097157686.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.life_sq < 5]["life_sq"] = np.NaN

In [8]:
# bad_index = test[test.life_sq < 5].index
# test.loc[bad_index, "life_sq"] = np.NaN

In [9]:
# bad_index = train[train.full_sq < 5].index
train.loc[train.full_sq < 5]["full_sq"] = np.NaN
test.loc[test.full_sq < 5]["full_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\4051366745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.full_sq < 5]["full_sq"] = np.NaN
C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\4051366745.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.full_sq < 5]["full_sq"] = np.NaN

In [10]:
# bad_index = test[test.full_sq < 5].index
# test.loc[bad_index, "full_sq"] = np.NaN

In [11]:
# kitch_is_build_year = [13117]
# train.loc[kitch_is_build_year, "build_year"] = train.loc[kitch_is_build_year, "kitch_sq"]

In [12]:
# bad_index = train[train.kitch_sq >= train.life_sq].index
train.loc[train.kitch_sq >= train.life_sq]["kitch_sq"] = np.NaN
test.loc[test.kitch_sq >= test.life_sq]["kitch_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\865366169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.kitch_sq >= train.life_sq]["kitch_sq"] = np.NaN
C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\865366169.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.kitch_sq >= test.life_sq]["kitch_sq"] = np.NaN

In [13]:
# bad_index = test[test.kitch_sq >= test.life_sq].index
# test.loc[bad_index, "kitch_sq"] = np.NaN

In [14]:
# bad_index = train[(train.kitch_sq == 0).values + (train.kitch_sq == 1).values].index
train.loc[(train.kitch_sq == 0) & (train.kitch_sq == 1)]["kitch_sq"] = np.NaN
test.loc[(test.kitch_sq == 0) & (test.kitch_sq == 1)]["kitch_sq"] = np.NaN

In [15]:
# bad_index = test[(test.kitch_sq == 0).values + (test.kitch_sq == 1).values].index
# test.loc[bad_index, "kitch_sq"] = np.NaN

In [16]:
# bad_index = train[(train.full_sq > 210) * (train.life_sq / train.full_sq < 0.3)].index
# train.loc[bad_index, "full_sq"] = np.NaN

In [17]:
# bad_index = test[(test.full_sq > 150) * (test.life_sq / test.full_sq < 0.3)].index
# test.loc[bad_index, "full_sq"] = np.NaN

In [18]:
# bad_index = train[train.life_sq > 300].index
train.loc[train.life_sq > 300]["life_sq", "full_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\2541717612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.life_sq > 300]["life_sq", "full_sq"] = np.NaN

In [19]:
# bad_index = test[test.life_sq > 200].index
test.loc[test.life_sq > 200]["life_sq", "full_sq"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\676425806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.life_sq > 200]["life_sq", "full_sq"] = np.NaN

In [20]:
# bad_index = train[train.build_year < 1500].index
train.loc[train.build_year < 1500]["build_year"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\458213884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.build_year < 1500]["build_year"] = np.NaN

In [21]:
# bad_index = test[test.build_year < 1500].index
test.loc[test.build_year < 1500]["build_year"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\3949217877.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.build_year < 1500]["build_year"] = np.NaN

In [22]:
# bad_index = train[train.num_room == 0].index 
train.loc[train.num_room == 0]["num_room"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\3405883208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.num_room == 0]["num_room"] = np.NaN

In [23]:
# bad_index = test[test.num_room == 0].index 
test.loc[test.num_room == 0]["num_room"] = np.NaN

In [24]:
# bad_index = [10076, 11621, 17764, 19390, 24007, 26713, 29172]
# train.loc[bad_index, "num_room"] = np.NaN

In [25]:
# bad_index = [3174, 7313]
# test.loc[bad_index, "num_room"] = np.NaN

In [26]:
# bad_index = train[(train.floor == 0).values * (train.max_floor == 0).values].index
# train.loc[bad_index, ["max_floor", "floor"]] = np.NaN

In [27]:
# bad_index = train[train.floor == 0].index
train.loc[train.floor == 0]["floor"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\3679046723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.floor == 0]["floor"] = np.NaN

In [28]:
# bad_index = train[train.max_floor == 0].index
train.loc[train.max_floor == 0]["max_floor"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\4140265236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.max_floor == 0]["max_floor"] = np.NaN

In [29]:
# bad_index = test[test.max_floor == 0].index
test.loc[test.max_floor == 0]["max_floor"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\810528316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.max_floor == 0]["max_floor"] = np.NaN

In [30]:
# bad_index = train[train.floor > train.max_floor].index
train.loc[train.floor > train.max_floor]["max_floor"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\129026331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.floor > train.max_floor]["max_floor"] = np.NaN

In [31]:
# bad_index = test[test.floor > test.max_floor].index
test.loc[test.floor > test.max_floor]["max_floor"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\2341984222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.loc[test.floor > test.max_floor]["max_floor"] = np.NaN

In [32]:
# bad_index = [23584]
# train.loc[bad_index, "floor"] = np.NaN

In [33]:
# bad_index = train[train.state == 33].index
train.loc[train.state == 33]["state"] = np.NaN

C:\Users\wongd\AppData\Local\Temp\ipykernel_44388\3943988562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.loc[train.state == 33]["state"] = np.NaN

### SAVE TEST & TRAIN AS CLEAN

In [34]:
test.to_csv("./csvs/data/test_clean.csv", index= False, encoding= "utf_8")
train.to_csv("./csvs/data/train_clean.csv", index = False, encoding= "utf_8")