In [1]:
import pandas as pd
import numpy as np

## LGB Version

In [2]:
model_1 = pd.read_csv('./csvs/submissions/model_1_output_lgb.csv')
s2 = pd.read_csv('./csvs/submissions/model_2_output_lgb.csv')
s3 = pd.read_csv('./csvs/submissions/model_3_output_lgb.csv')

subm = pd.read_csv('./csvs/data/sample_submission.csv')
# subm['price_doc'] = 0.5796*model_1['price_doc'].values+0.16*s2['price_doc'].values+0.2604*s3['price_doc'].values
subm['price_doc'] = 0.33*model_1['price_doc'].values+0.33*s2['price_doc'].values+0.34*s3['price_doc'].values
subm.to_csv('./csvs/submissions/submission.csv',index=False)
subm.head()

      id     price_doc
0  30474  5.449764e+06
1  30475  8.321017e+06
2  30476  5.266503e+06
3  30477  6.167490e+06
4  30478  5.070040e+06